# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Scikit
3. Matplotlib
4. Keras
5. Seaborn
6. GGplot2
7. TensorFlow
8. SciPy
9. Pandas

|Data Science Tools|
|------|
|Apache SparkSQL|
|TensorFlow|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
  
* List popular languages for Data Science
* Insert a Markdown cell
* Insert a code cell
* Make an ordered list
* Make an unordered list

## Author
WJ van Dam